aside {
	display: inline-block;
	vertical-align: top;
	padding: 1em;
}
svg.svelte-xeznoy {
	max-width: 1200px;
	display: inline-block;
}
h2.svelte-1httfs {
	font-size: inherit;
	font-weight: normal;
}
.description.svelte-1httfs {
	font-size: 0.8em;
	font-weight: lighter;
}